*, body{
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 18px; 
}

body{
    background-color: #d34d43;
}

.vrapper {
    max-width: 950px;
    overflow: hidden;
    margin: 25px auto;
    padding: 50px 50px;
    border-radius: 10px;
    background-color: #2fc6d1;
    
}

p {
    text-align: justify;
    text-indent: 25px;
    margin-bottom: 10px;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align:center;
    text-transform: capitalize;
    color: rgb(44, 22, 73);
}

nav{
    width: 950px;
    margin: 0 auto;
}
nav::before{
    content: '';
    display: block;
    margin-top: 25px;
    height: 50px;
    width: 1048px;
    border-radius: 10px;
    background: #000;
    position: absolute;
    left: 430px;
    z-index: -1;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}

ul li{
    float: left;
}

ul li a{
    color:antiquewhite;
    display: block;
    margin-top: 25px;
    height: 50px;
    padding: 0 40px;
    text-transform: uppercase;
    text-decoration: none;
    position: center;
    font-family: 'Lobster', cursive;
    line-height: 50px;

}
ul li a:hover{
    background: #11deec;
    border-radius: 15px;
}

.btn{
    color: #000;
}

.avesome{
    background: #fc3;
    display: block;
    block-size: 40px;
    max-width: 90px;
    max-height: 15px;
    size: 100%;
    overflow: hidden;
    margin: 60px 60px 60px 60px;
    margin-left: 70%;
    border-radius: 10px;
    padding: 25px 25px;
    

}
